#console.pad
  %ul
    :each line in lines
      %li = htmlEscape(line, true)

    %li 
      :if showPrompt
        =htmlEscape(promptPrefix+"> ") 
        %input#console-input(type="text" value="#{htmlEscape(prompt)}")
    :if showMultilineHelp
      %li.console-multiline-help
        (Hit return again to execute)
