.sidebar
  %p.pad Cypher Console, allows you to use the experimental Cypher query language for working with your graph. 
  %p.pad Note: This console takes multi-line input, you have to hit enter twice to execute a statement.
  %p.pad For syntax help, see <a href="http://docs.neo4j.org/chunked/snapshot/cypher-query-lang.html" target="_BLANK">the Cypher documentation</a>.

  .foldout
    %h2
      %a.foldout_trigger(href="#") Cheat sheet
    .foldout_content
      %ul.info_list
        %li
          %h3 Give me Lucy Liu
          %p START lucy = node(1000)
          %p RETURN lucy.name
        %li
          %h3 What movies has Lucy played in?
          %p START lucy = node(1000)
          %p MATCH lucy-[:ACTS_IN]->movie
          %p RETURN movie.title
        %li
          %h3 Which other actors has Lucy player with?
          %p START lucy = node(1000)
          %p MATCH lucy-[:ACTS_IN]->movie<-[:ACTS_IN]-co_actor
          %p RETURN DISTINCT co_actor
        %li
          %h3 How many co actors has Lucy had per movie?
          %p START lucy = node(1000)
          %p MATCH lucy-[:ACTS_IN]->movie<-[:ACTS_IN]-co_actor
          %p RETURN movie.title, count(*)
          %p ORDER BY count(*) DESC
        %li
          %h3 What is the shortest path between Lucy and Kevin Bacon?
          %p START lucy = node(1000), kevin=node(759)
          %p MATCH p=shortestPath(lucy-[*..4]-kevin)
          %p RETURN p

  .foldout
    %h2
      %a.foldout_trigger(href="#") If the console hangs
    .foldout_content
      %p.pad If the console hangs, you can reset it by clearing your browser cookies for webadmin.

.workarea.with-sidebar#console-base

